<section id="form">
  <div id="banner">
    <div class="content">
      BANNER
    </div>
  </div>

  <div class="ui stackable grid">

    <div class="four wide column">
    </div>
    <div class="eight wide column">
      <div class="ui form basic segment">
        <div class="field">
          <h1> {{ data.title }}</h1>
        </div>
        <div class="field">
          <label>Description</label>
          <div class="ui labeled input">
            <input type="text"
                   placeholder="Description"
                   ng-model="data.description">
          </div>
        </div>
        <div class="field">
          <label>Name</label>
          <div class="ui labeled input">
            <input type="text"
                   placeholder="Name"
                   ng-model="data.name">
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <div class="ui labeled input">
            <input type="email"
                   placeholder="Username"
                   ng-model="data.email">
          </div>
        </div>
        <div class="field">
          <label>Age</label>
          <div class="ui labeled input">
            <input type="number"
                   placeholder="Username"
                   ng-model="data.age">
          </div>
        </div>
        <div class="field">
          <label>Height</label>
          <div class="ui labeled input">
            <input type="number"
                   placeholder="Username"
                   ng-model="data.height">
          </div>
        </div>
        <div class="ui error message">
          <div class="header">We noticed some issues</div>
        </div>
        <div class="ui purple fluid submit button"
             ng-click="submit()">Save</div>
      </div>
    </div>
    <div class="four wide column"></div>

  </div>

  <div class="ui page dimmer">
    <div class="content">
      <div class="center">
        <i class="huge ui green emphasized checkmark icon"></i>
        <h2>
          Successfully updated!
        </h2>
      </div>
    </div>
  </div>
</section>
