html,
body,
#container,
#login {
  height: 100%;
  width: 100%;
  font-size: 1.05em;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  text-align: center;
}

#login .title {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 24px;
}

input.clean {
  background: none;
  font-size: 3em;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

input.clean.dark {
  border-bottom: 1px solid white;
  color: white;
}

input:focus {
  outline: none;
}

a.admin {
  position: fixed;
  bottom: 16px; right: 16px;
  cursor: pointer;
}

.link.segment {
  cursor: pointer;
}

#banner {
  background: #3E3773;
  margin-bottom: 36px;
}

#banner .content{
  text-transform: uppercase;
  font-size: 3em;
    color: white;
  text-align: center;
  padding: 1em 0;
}

.ui.form h1 {
  font-size: 3em;
}